#slider {
    position: fixed;
    z-index: 9000000000000000000;
    top: 0px;
    right: 0px;

    background-color : cornflowerblue;
    width : 0px;
    transition: 0.4s;

    height: 100vh; 
    overflow-y : auto;
}


/* Slider header, footer and body tags below */
/* add css stylesheets for slider child elements below*/
#sheader {
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: #052536;
    text-align:center;
    z-index: 5;
    box-shadow: 0 0 5px #052536;
}

#sheader > div > h1, #sfooter >  h2 {
    color: white !important;
}

#sbodycontainer {
    color: white;
}

#sfooter {
    position: sticky;
    bottom: 0;
    background-color: #052536;
    text-align: center;
    z-index: 5;
    box-shadow: 0 0 10px #052536;
}

#extractBtn, #savepdf {
    
    border-radius: 4px;
    background-color: #0077b5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: 0.8;

    /* positioning on window */
    position: relative;
}

#extractBtn:hover, #savepdf:hover {
    background-color: #035b8a;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

/* The extract buttons inside of slider */
.internal_button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0077b5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.internal_button:hover {background-color: #035b8a}

.internal_button:active {
    background-color: #035b8a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.sticky_buttons {
    position: sticky;
    display: block;
    font-size: 16px;
    margin: 15px 25px 0px 15px;;
}

#deepscan {
    padding: 10px;
    opacity: 100% !important;
}

#deepscancontainer {
    position: sticky !important;
    z-index: 5;
}

#deepscanlabel {
    color: white;
    padding: 15px;
    border: 1px solid rgb(100, 237, 223);
}

textarea {
    margin: 1px;
    padding-right: 20px;
    border: 2px solid black;
    height: 250px !important;
    
}

textarea:hover {
    background-color: rgb(178, 197, 231);
    border: 2px solid rgb(27, 15, 49);
}