<!DOCTYPE html>
<html>
    <head>
        <title>Ext13</title>
        <link rel="stylesheet" href="../css/popup.css"/>
    </head>
    
    <body>
        <p><span id="ref-msg">
            <em>please refresh the webpage for changes to take effect.</em>
        </span></p>
        <br/>
        <h1>Extract Profile</h1>
        <p>Toggle</p>
        <p>To extract a profile, click on the "extract" button
            on the bottom right of the window.

            To properly extract the details, click on the show more buttons
            of each section (Education, Certifications, etc.) before you press extract.
            You can press extract button as many times as you like.
        </p>


<!-- scripts section below -->
<script type="module" src="../scripts/popup.js"></script>


<!-- scripts section ends here -->
    </body>
</html>